<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our application!</h1>
    <p>
      You have successfully signed up to our application,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To confirm your account, please click the link below:<br>
      <%= link_to 'Confirm my account', confirmation_url(@user.confirmation_token) %>
    </p>
    <p>
      Thank you for joining and have a great day!
    </p>
  </body>
</html>
