<!DOCTYPE html>
<html>
<head>
  <title>Match Notification</title>
</head>
<body>
  <h1>Match Found!</h1>
  <p>A match has been found for you!</p>
  <p>Match Status: <%= @match.status %></p>
  <p>Match's User ID: <%= @match.user_id %></p>
</body>
</html>
